<% if user_signed_in? && current_user.id == post.user_id %>
  <%= link_to edit_post_path(post) do %>
    <span class="icon has-text-danger"><i class="fas fa-edit" aria-hidden="true"></i></span>
  <% end %>
  <%= link_to post, method: :delete, data: { confirm: 'Are you sure you want to delete this potato?' } do %>
    <span class="icon has-text-danger"><i class="far fa-trash-alt" aria-hidden="true"></i></span>
  <% end %>
<% end %>